@import "../../mixin.scss";
@import "../../icon.scss";
.access-container {
    .access-main {
        .data-list {
            overflow: auto;
            .opbox {
                overflow: hidden;
                .op-item {
                    float: left;
                    cursor: pointer;
                }
            }
        }
        .page-box {
            padding: 10px 0;
            margin: 0 auto;
        }
    }
}