.icon-user {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("/static/image/user-default.png");
}

.icon-usergroup {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("/static/image/usergroup-default.png");
}

.icon-application {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("/static/image/application-default.png");
}

.icon-home {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("/static/image/home.png");
}

.icon-toggle {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("/static/image/toggle.png") center center no-repeat;
}

.icon-userAvatar {
    width: 26px;
    height: 26px;
    display: inline-block;
    background: url("/static/image/user-avatar.png") center center no-repeat;
}

.icon-account {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("/static/image/account.png") center center no-repeat;
}

.icon-version {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: url("/static/image/version.png") center center no-repeat;
}

.icon-copyright {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("/static/image/copyright.png") center center no-repeat;
}

.icon-warning {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("/static/image/warning.png") center center no-repeat;
}

.icon-user-avatar-lg {
    width: 80px;
    height: 80px;
    display: inline-block;
    background: url("/static/image/user-avatar-lg.png") center center no-repeat;
}

.icon-search {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("/static/image/search.png") center center no-repeat;
}

.icon-delete {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("/static/image/delete.png") center center no-repeat;
}